<div class="container-fluid p-4 bg-main-dark text-light">
    <div class="container m-auto">
        <div class="row flex-center">
            <div class="col-12 flex-center flex-column">
            </div>
            <div class="col-sm-3 col-xs-12 flex-center flex-column">
                <img src="{{url_for('static', filename='images/logos/logo_wide.png')}}" class="m-auto" />
                <p>
                    198 Varet <sup><small>st</small></sup>
                    </p>
                    <p>
                    Brooklyn, NY, 11206
                    </p>
                    <p>
                    Phone: <tel>+ 1(718) 782 9830</tel>
                </p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="row flex-center">
                    <div class="col-12  row flex-row m-4">
                        <div class="col-sm-2 col-xs-4">
                        <h6><b>Academics</b></h6>
                        </div>
                        <div class="col-sm-10 col-xs-8 row fs-xs">
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#art">
                                    Art
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#biology">
                                    Biology
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#chemistry">
                                    Chemistry
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#computer_science">
                                    Computer Science
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#english">
                                    English
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#health">
                                    Health
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#physical_education">
                                    Physical Education
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#mathematics">
                                    Mathematics
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#music">
                                    Music
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#physics">
                                    Physics
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#social_studies">
                                    Social Studies
                                </a>
                                
                            </div>
                            <div class="col-4 p-1 footer-link rounded-3 mb-2">
                                <a href="academics#special_education">
                                    Special Education
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-12 row flex-row m-4">
                        <div class="col-sm-2 col-xs-4">
                        <h6><b>Student Life</b></h6>
                    </div>
                        <div class="row col-sm-10 col-xs-8 fs-xs text-start">
                            <div class="col-4 footer-link rounded-2 mb-1">
                                <a href="student-life#voice">
                                Voice
                                </a>
                            </div>
                            <div class="col-4 footer-link rounded-2 mb-1">
                                <a href="student-life#dance">
                                Dance
                                </a>
                            </div>
                            <div class="col-4 footer-link rounded-2 mb-1">
                                <a href="student-life#theater">
                                Theater
                                </a>
                            </div>
                            <div class="col-4 footer-link rounded-2 mb-1">
                                <a href="student-life#theater">
                                Sports
                                </a>
                            </div>
                            <div class="col-4 footer-link rounded-2 mb-1">
                                <a href="student-life#theater">
                                Art
                                </a>
                            </div>
                            <div class="col-4 footer-link rounded-2 mb-1">
                                <a href="student-life#theater">
                                Ceramics
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 row flex-row m-4">
                        <div class="col-sm-2 col-xs-12">
                        <h6><b>Contact</b></h6>
                    </div>
                        <div class="row col-10 fs-xs text-start">
                            <div class="col footer-link rounded-2 mb-1">Admissions</div>
                            <div class="col footer-link rounded-2 mb-1">Faculty</div>
                            <div class="col footer-link rounded-2 mb-1">Attendance</div>
                            <div class="col footer-link rounded-2 mb-1">PowerSchool</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 flex-center">
                <img src="{{url_for('static', filename='images/district_logo.png')}}" class=" m-auto" />
            </div>
        </div>
    </div>
</div>